 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>

  {{>navbar}}
  {{!-- {{>navbar}} --}}

{{!-- hero section start --}}
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
            <h1>Testing Website</h1>
            {{!-- <h1>KNOW MORE?</h1> --}}
            <P>You Want To<span class="bold-style"> Know more</span></P>
            <button class="btn-style btn-primary">Ask away</button>
          </div>
          {{!-- right side--}}
          <div class="col-md-6 col-12 hero-text order-md-1 order-0">
              <figure>
                <img src="images/dolmane.jpg" alt="herosection_image">
              </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
{{!-- hero section ends --}}

{{!-- about us start --}}
{{>about}}
{{!-- about us ends --}}

{{!-- services start --}}
{{>service}}
{{!-- services ends --}}


{{!-- contact us start --}}
{{>contact}}
{{!-- contact us ends --}}



    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
 
    

</body>

</html>
  